engine-strict=true
shell-emulator=true
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=sqlite3
onlyBuiltDependencies[]=isolated-vm
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=esbuild
