name: Check

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
  pull_request:
    branches:
      - main

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_OPTIONS: --max_old_space_size=6144
  EMAIL_SES_REGION: eu-west-3

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Run Linter
        run: pnpm lint

  unit:
    name: Unit Tests
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Debug TEST KEY
        run: echo "${{ secrets.MY_SECRET_TEST_KEY }}"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: eu-west-3
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_TO_ASSUME_FOR_SES }}
          role-session-name: GHActionSession

      - name: Run Tests
        run: pnpm test

  analyze:
    name: CodeQL Analysis
    uses: ./.github/workflows/codeql-analysis.yml
